<footer class="page-footer w-75 justify-content-center font-small teal pt-4">
  <!-- Footer Text -->
  <div class="container-fluid text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Färgning</h5>
        <p>Färgar, slingar och tonar ditt hår till perfektion, alltid nöjd kund garanti, kostnadsfri konsultation. <p><a href="https://headlinez.bokadirekt.se" class="btn btn-info" role="button">Boka tid för konsultation</a><br><br>följ mig på instagram: @jack.sharoian</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Klippning</h5>
        <p>Klipper och stylar ditt hår, använder både sax och maskin, gör artistliknande fadningar.<p><a href="/prislista" class="btn btn-info" role="button">Se prislista och boka tid</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright - Jack Sharoian
  </div>
  <!-- Copyright -->
</footer>